<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Menú
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerDirection]="'root'">
            <ion-icon slot="start" [name]="'information-circle-outline'"></ion-icon>
            <ion-label>Perfil personal</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item [routerDirection]="'root'">
            <ion-icon slot="start" [name]="'code-working-outline'"></ion-icon>
            <ion-label>Tecnologías</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item [routerDirection]="'root'">
            <ion-icon slot="start" [name]="'school-outline'"></ion-icon>
            <ion-label>Historial académico</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item [routerDirection]="'root'">
            <ion-icon slot="start" [name]="'bulb-outline'"></ion-icon>
            <ion-label>Historial laboral</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item [routerDirection]="'root'">
            <ion-icon slot="start" [name]="'call-outline'"></ion-icon>
            <ion-label>Contacto y redes</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
