<ion-card>
  <ion-card-header>
    <ion-card-title>Elemento similar</ion-card-title>
    <ion-card-subtitle>Descripción similar</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Blablabla, blablabla, blablabla, blablabla, blablabla, blablabla, blablabla, blablabla.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header color="primary">
    <ion-card-subtitle color="primary" class="destacado">Opción más popular</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="titulo">
    <ion-card-title>Elemento destacado</ion-card-title>
    <ion-card-subtitle>Descripción similar</ion-card-subtitle>
    Blablabla, blablabla, blablabla, blablabla, blablabla, blablabla, blablabla, blablabla.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Elemento similar</ion-card-title>
    <ion-card-subtitle>Descripción similar</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Blablabla, blablabla, blablabla, blablabla, blablabla, blablabla, blablabla, blablabla.
  </ion-card-content>
</ion-card>
