<ion-slides>
  <ion-slide>
    <ion-card><img src="assets/images/placeholder.png" alt="Placeholder image"></ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card><img src="assets/images/placeholder.png" alt="Placeholder image"></ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card><img src="assets/images/placeholder.png" alt="Placeholder image"></ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card><img src="assets/images/placeholder.png" alt="Placeholder image"></ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card><img src="assets/images/placeholder.png" alt="Placeholder image"></ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card><img src="assets/images/placeholder.png" alt="Placeholder image"></ion-card>
  </ion-slide>
</ion-slides>
